@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #2e2e2e, #510674);
}

.title {
  width: 100%;
  text-align: center;
  color: #f8dfff;
}
